# Data Cleaning

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
espn_season = '2024'
nba_season = '2023-24'

In [4]:
raw_stats = pd.read_csv(f"raw_player_stats_{nba_season}.csv")
raw_pos = pd.read_csv(f"raw_player_pos_{espn_season}.csv")

In [5]:
raw_stats.head()

,Player,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,DREB,REB,AST,STL,BLK,TOV,PF,EFF,AST/TOV,STL/TOV
0,Luka Doncic,DAL,70,2624,2370,804,1652,48.7,284,744,...,588,647,686,99,38,282,149,2580,2.43,0.35
1,Shai Gilgeous-Alexander,OKC,75,2553,2254,796,1487,53.5,95,269,...,350,415,465,150,67,162,184,2416,2.87,0.93
2,Giannis Antetokounmpo,MIL,73,2567,2222,837,1369,61.1,34,124,...,645,841,476,87,79,250,210,2655,1.90,0.35
3,Jalen Brunson,NYK,77,2726,2212,790,1648,47.9,211,526,...,235,278,519,70,13,186,144,1972,2.79,0.38
4,Nikola Jokic,DEN,79,2737,2085,822,1411,58.3,83,231,...,753,976,708,108,68,237,194,3039,2.99,0.46

In [6]:
raw_pos.head()

                    Player POS
0              Luka Doncic  PG
1    Giannis Antetokounmpo  PF
2  Shai Gilgeous-Alexander  PG
3            Jalen Brunson  PG
4             Kevin Durant  PF

## Fully join two tables.

In [7]:
raw_dataset = pd.merge(left = raw_stats, right = raw_pos, how = 'outer')
raw_dataset.head()

,Player,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,REB,AST,STL,BLK,TOV,PF,EFF,AST/TOV,STL/TOV,POS
0,A.J. Lawson,DAL,42.0,311.0,136.0,54.0,121.0,44.6,13.0,50.0,...,50.0,20.0,10.0,3.0,14.0,22.0,130.0,1.43,0.71,G
1,AJ Green,MIL,56.0,614.0,252.0,83.0,196.0,42.3,69.0,169.0,...,64.0,30.0,9.0,4.0,12.0,49.0,232.0,2.50,0.75,G
2,AJ Griffin,ATL,20.0,171.0,48.0,18.0,62.0,29.0,10.0,39.0,...,18.0,5.0,1.0,2.0,8.0,6.0,22.0,0.63,0.13,F
3,Aaron Gordon,DEN,73.0,2297.0,1013.0,398.0,716.0,55.6,40.0,138.0,...,471.0,259.0,56.0,45.0,105.0,142.0,1329.0,2.47,0.53,PF
4,Aaron Holiday,HOU,78.0,1269.0,514.0,186.0,417.0,44.6,84.0,217.0,...,123.0,140.0,42.0,6.0,53.0,125.0,536.0,2.64,0.79,G

## Data Types

In [8]:
print(raw_dataset.dtypes)

Player      object
TEAM        object
GP         float64
MIN        float64
PTS        float64
FGM        float64
FGA        float64
FG%        float64
3PM        float64
3PA        float64
3P%        float64
FTM        float64
FTA        float64
FT%        float64
OREB       float64
DREB       float64
REB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
EFF        float64
AST/TOV    float64
STL/TOV    float64
POS         object
dtype: object

## Checking the null value Record(s).

In [9]:
# There is 1 null data for each columns except Position (which has 6).
print(raw_dataset.isnull().sum())

Player      0
TEAM        1
GP          1
MIN         1
PTS         1
FGM         1
FGA         1
FG%         1
3PM         1
3PA         1
3P%         1
FTM         1
FTA         1
FT%         1
OREB        1
DREB        1
REB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
EFF         1
AST/TOV     1
STL/TOV     1
POS        11
dtype: int64

In [11]:
raw_dataset[raw_dataset['TEAM'].isnull()]

,Player,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,REB,AST,STL,BLK,TOV,PF,EFF,AST/TOV,STL/TOV,POS
99,Craig Porter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G

In [12]:
raw_dataset[raw_dataset['POS'].isnull()]

,Player,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,REB,AST,STL,BLK,TOV,PF,EFF,AST/TOV,STL/TOV,POS
23,Andrew Funk,CHI,5.0,13.0,0.0,0.0,4.0,0.0,0.0,3.0,...,0.0,0.0,1.0,1.0,0.0,0.0,-2.0,0.00,0.00,NaN
100,Craig Porter Jr.,CLE,51.0,649.0,285.0,116.0,228.0,50.9,12.0,34.0,...,109.0,118.0,21.0,15.0,45.0,40.0,376.0,2.62,0.47,NaN
114,Danny Green,PHI,2.0,18.0,0.0,0.0,2.0,0.0,0.0,1.0,...,2.0,1.0,1.0,0.0,0.0,1.0,2.0,0.00,0.00,NaN
150,Dmytro Skapintsev,NYK,2.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.00,0.00,NaN
235,Jalen Crutcher,NOP,1.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.00,0.00,NaN
263,Javonte Smart,PHI,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
319,Justin Jackson,MIN,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
323,Kaiser Gates,NOP,1.0,7.0,0.0,0.0,4.0,0.0,0.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,-3.0,0.00,0.00,NaN
381,Malcolm Cazalon,DET,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
482,Ron Harper Jr.,TOR,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1.0,0.00,0.00,NaN
487,Ryan Arcidiacono,NYK,20.0,45.0,0.0,0.0,6.0,0.0,0.0,6.0,...,8.0,4.0,2.0,0.0,2.0,5.0,6.0,2.00,1.00,NaN

In [10]:
# Change the name with special character into normal name.
raw_dataset.iloc[[539],[0]] = 'Nikola Jovic'

## Find the Duplicated Record(s)

In [11]:
raw_dataset.iloc[[539],[0]]

           Player
539  Nikola Jovic

In [12]:
raw_dataset.iloc[426]

Player    Nikola Jovic
Team               MIA
Age               19.0
GP                15.0
W                  7.0
L                  8.0
Min              204.5
PTS               82.0
FGM               28.0
FGA               69.0
FG%               40.6
3PM                8.0
3PA               35.0
3P%               22.9
FTM               18.0
FTA               19.0
FT%               94.7
OREB               9.0
DREB              22.0
REB               31.0
AST               10.0
TOV               10.0
STL                7.0
BLK                2.0
PF                19.0
FP               151.0
DD2                0.0
TD3                0.0
+/-              -16.0
POS                NaN
Name: 426, dtype: object

## Move 'POS' Column to be the second index of the dataset

In [13]:
second_col = raw_dataset.pop('POS')

In [14]:
raw_dataset.insert(1, 'POS', second_col)

In [15]:
raw_dataset[-7:]

,Player,POS,Team,Age,GP,W,L,Min,PTS,FGM,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
533,Stanley Umude,G,DET,24.0,1.0,0.0,1.0,2.1,2.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,8.0,0.0,0.0,3.0
534,Alondes Williams,NaN,BKN,23.0,1.0,1.0,0.0,5.3,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,1.0,-1.0,0.0,0.0,-5.0
535,Deonte Burton,NaN,SAC,29.0,2.0,1.0,1.0,6.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
536,Frank Jackson,NaN,UTA,24.0,1.0,0.0,1.0,5.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,-2.0
537,Michael Foster Jr.,NaN,PHI,20.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0
538,Sterling Brown,NaN,LAL,28.0,4.0,2.0,2.0,24.4,0.0,0.0,...,8.0,2.0,0.0,3.0,0.0,4.0,22.0,0.0,0.0,-4.0
539,Nikola Jovic,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
raw_dataset.at[426, 'POS'] = 'F'

## Drop the duplicated record(s).

In [17]:
dataset = raw_dataset.drop([539])

In [18]:
dataset.iloc[-7:]

,Player,POS,Team,Age,GP,W,L,Min,PTS,FGM,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
532,Chris Silva,F,DAL,26.0,1.0,1.0,0.0,3.0,2.0,1.0,...,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0
533,Stanley Umude,G,DET,24.0,1.0,0.0,1.0,2.1,2.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,8.0,0.0,0.0,3.0
534,Alondes Williams,NaN,BKN,23.0,1.0,1.0,0.0,5.3,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,1.0,-1.0,0.0,0.0,-5.0
535,Deonte Burton,NaN,SAC,29.0,2.0,1.0,1.0,6.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
536,Frank Jackson,NaN,UTA,24.0,1.0,0.0,1.0,5.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,-2.0
537,Michael Foster Jr.,NaN,PHI,20.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0
538,Sterling Brown,NaN,LAL,28.0,4.0,2.0,2.0,24.4,0.0,0.0,...,8.0,2.0,0.0,3.0,0.0,4.0,22.0,0.0,0.0,-4.0

## Change the NaN Data Type into 'N/A' String.

In [19]:
raw_dataset[-7:]

,Player,POS,Team,Age,GP,W,L,Min,PTS,FGM,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
533,Stanley Umude,G,DET,24.0,1.0,0.0,1.0,2.1,2.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,8.0,0.0,0.0,3.0
534,Alondes Williams,NaN,BKN,23.0,1.0,1.0,0.0,5.3,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,1.0,-1.0,0.0,0.0,-5.0
535,Deonte Burton,NaN,SAC,29.0,2.0,1.0,1.0,6.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
536,Frank Jackson,NaN,UTA,24.0,1.0,0.0,1.0,5.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,-2.0
537,Michael Foster Jr.,NaN,PHI,20.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0
538,Sterling Brown,NaN,LAL,28.0,4.0,2.0,2.0,24.4,0.0,0.0,...,8.0,2.0,0.0,3.0,0.0,4.0,22.0,0.0,0.0,-4.0
539,Nikola Jovic,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
raw_dataset = dataset
for i in range(534,539):
    raw_dataset.at[i, 'POS'] = 'N/A'
dataset = raw_dataset

In [21]:
dataset.iloc[-7:]

,Player,POS,Team,Age,GP,W,L,Min,PTS,FGM,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
532,Chris Silva,F,DAL,26.0,1.0,1.0,0.0,3.0,2.0,1.0,...,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0
533,Stanley Umude,G,DET,24.0,1.0,0.0,1.0,2.1,2.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,8.0,0.0,0.0,3.0
534,Alondes Williams,N/A,BKN,23.0,1.0,1.0,0.0,5.3,0.0,0.0,...,1.0,0.0,2.0,0.0,0.0,1.0,-1.0,0.0,0.0,-5.0
535,Deonte Burton,N/A,SAC,29.0,2.0,1.0,1.0,6.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
536,Frank Jackson,N/A,UTA,24.0,1.0,0.0,1.0,5.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,-2.0
537,Michael Foster Jr.,N/A,PHI,20.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0
538,Sterling Brown,N/A,LAL,28.0,4.0,2.0,2.0,24.4,0.0,0.0,...,8.0,2.0,0.0,3.0,0.0,4.0,22.0,0.0,0.0,-4.0

## Export the cleaned dataset.

In [22]:
pd.DataFrame.to_csv(dataset, "2023_nba_player_stats.csv", index = False)